<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/">Shop</a></li>
            <li class="main-header__item"><a href="/products">Our Products</a></li>
            <li class="main-header__item"><a href="/cart">My Cart</a></li>
            <li class="main-header__item"><a href="/orders">My Orders</a></li>
            <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            <li class="main-header__item"><a href="/admin/products">Admin Product</a></li>
        </ul>
    </nav>
</header>